.wrapper	
	.row.centrecontent
		.medium-8.columns.hero
			h1.centrecontent TwitchTV Stream Monitor
			h3.centrecontent Free Code Camp Exercise
			.row.centrecontent
				.medium-12.columns
					.medium-3.columns
						input#newStream
					.medium-1.columns
						button#add Add
						
					.medium-8.columns.pull-right
						button#all Show All
						button#on Show Online
						button#off Show Offline
	.row.centrecontent
		.medium-8.columns
			#channelBar